<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Skillfiller's gamut of services</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Recruitment Process Outsourcing (RPO)</h4>
                    <p class="text-muted">We provide flexible and scalable recruitment solutions, from sourcing and selection to onboarding, to find the talent you need. Built upon our deep recruitment expertise and based on rigorous processes, our innovative approach ensures the results you need - greater predictability of cost, a more efficient recruiting process, an improved candidate experience and, more importantly, improved talent quality.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Strategic Workforce Consulting (SWC)</h4>
                    <p class="text-muted">We create impactful workforce strategies by leveraging our deep understanding of the global workforce trends that are shaping the way we work, our granular knowledge of local markets and legislation, and our workforce solutions implementation expertise. Our innovative approach combines these insights and expertise to deliver a workforce strategy with a measurable action plan to accelerate growth through a greater alignment of business and workforce strategies.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Borderless Talent Solutions (BTS)</h4>
                    <p class="text-muted">BTS is specifically designed to help you move in-demand talent from skill-rich regions to markets with talent shortages quickly and efficiently. Leveraging our unsurpassed global network, local recruiting expertise and labor market experience, we create new talent sources and deliver the entire process, from finding scarce talent to visa advice and quick assimilation.</p>
                </div>
            </div>
        </div>
    </section>